body {
  background-color: black;
  margin: 40px;
}

#app {
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
}

#logo {
  margin: auto;
  width: 690px;
  display: block;
}

#app div {
  width: 80%;
  color: white;
}

#app div p {
  text-decoration: underline;
  margin: 0;
}

main {
  margin-top: 60px;
  height: 100vh;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
      "images post-1"
      "images post-2"
      ". post-3"
      ". post-4"
  ;
}

#container {
  grid-area: images;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
}

#post-1 {
  grid-area: post-1;
}

#post-2 {
  grid-area: post-2;
  margin-left: auto;
}

#post-3 {
  grid-area: post-3;
}

#post-4 {
  grid-area: post-4;
  margin-left: auto;
}

#images {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(min-content));
  grid-template-rows: 1fr 1fr 1fr 1fr;

}

#images > * {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

#titan {
  background-color: green;
  grid-row: 1 / 3;
}

#io {
  background-color: grey;
  margin: 15px;
}

#sao {
  background-color: red;
  grid-column: 2 / 3; 
  grid-row: 2 / 4;
  margin-bottom: 15px;
  width: 100% !important;
}

#phobos {
  background-color: goldenrod;
  margin-left: 10px;
  margin-top: 20px;
}

#ganymede {
  background-color: purple;
  grid-column: 1 / 3;
  margin: 5px 0;
  width: 100% !important;
}

@media only screen and (max-width: 700px) {
  body {
      margin: 10px;
  }

  main {
      grid-template-columns: 1fr;
      grid-template-areas: 
          "images"
          "post-1"
          "post-2"
          "post-3"
          "post-4"
      ;
  }

  main > * {
      margin-right: auto;
      margin-left: auto;
  }

  #logo {
      width: 100%;
  }

  #images {
    height: 500px !important;
  }
}
